
@model  IEnumerable<Talons.Models.Inf>

@{
    Layout = "/Views/Home/MasterView.cshtml";
}

<link rel="stylesheet" href="/Content/css/style.css">
<div id="zakaz">
    <a >
        <div id="h33"> @Html.ActionLink("Записаться на консультцию", "Form", "Home") </div>
    </a>
</div>
<div id="resh">
    <div id="h44">
        H-clinic - идеальное <br>
        решение для Вашего здоровья!
    </div>
</div>

<div id="header">
    <img src="/Content/Images/kabitet.jpg" alt="Smile:)" style="width: 1330px" />
</div>
<div id="content">

    <div id="main">

        <table id="table2">
            <tr>

                <td class="small_card">
                    <img src="/Content/Images/heart.png" alt="heart" />
                    <h3>Забота о каждом<br> пациенте</h3>
                </td>
                <td class="small_card">
                    <img src="/Content/Images/bag.png" alt="heart" /> <h3>
                        Колоссальный <br>
                        опыт врачей и <br>
                        медицинского <br>
                        персонал
                    </h3>
                </td>
                <td class="small_card">
                    <img src="/Content/Images/pills.png" alt="heart" /> <h3>Точная <br>диагностика</h3>
                </td>
                <td class="small_card">
                    <img src="/Content/Images/brain.png" alt="heart" /> <h3>Эффективное <br>лечение</h3>
                </td>


            </tr>


            <tr>
                <th id="about" colspan="4"><h1>О клинике</h1></th>
            </tr>

            <tr>
                <th id="text" colspan="4">
                    Своевременная медицинская помощь – очень важно для поддержания здоровья и скорейшего выздоровления человека. В нашей клинике предоставляются услуги, направленные на диагностику и эффективную терапию. Современные методики, профессиональный подход, конфиденциальность и, что немаловажно, понимание и прекрасное человеческое отношение – все это получает каждый наш пациент.
                    В нашем медицинском центре установлено современное оборудование, которое позволяет получать максимально точную информацию о здоровье пациента. Благодаря эффективной диагностике удается поставить диагноз и начать незамедлительное лечение.
                    Мы предлагаем записаться на консультацию, в рамках которой можно объяснить врачу, какие симптомы и проблемы беспокоят. Врач проинформирует о необходимости лечения, предложит эффективные методики, возможность применения препаратов, способы точной диагностики.
                </th>
            </tr>

        </table>



    </div>

</div>
<div id="footer"></div>