@model  IEnumerable<Talons.Models.Inf>

@{
    Layout = "/Views/Home/MasterView.cshtml";
}


<link rel="stylesheet" href="/Content/css/stylecontact.css">
<div id="content">

    <div id="main">

        <table id="table2" style="margin-right: 300px;">
            <tr>
                <th id="about" colspan="3"><h1>Ваша заявка отправлена. В ближайшее время с Вами свяжутся для уточнения даты и времени посецения специалиста. </h1></th>
            </tr>







        </table>



    </div>

</div>
<div id="footer"></div>